html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

@font-face {
  font-family: "Pantasia";
  src: url("../fonts/Pantasia-Regular.ttf"), url("../fonts/Pantasia-Regular.woff2") format("woff2"), url("../fonts/Pantasia-Regular.woff") format("woff"); }
/* !!! CSS RESET !!! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 18px; }
  @media screen and (min-width: 1800px) {
    html {
      font-size: 24px; } }
  @media screen and (min-width: 1600px) {
    html {
      font-size: 22px; } }
  @media screen and (min-width: 1300px) {
    html {
      font-size: 20px; } }
  @media screen and (max-width: 850px) {
    html {
      font-size: 16px; } }
  @media screen and (max-width: 768px) {
    html {
      font-size: 18px; } }

#site {
  font-family: 'Pantasia', serif;
  font-size: 0.8rem; }
  #site.light_box {
    overflow: hidden; }
  #site .gray {
    color: #bbb; }
  #site a:link,
  #site a:visited {
    color: #000;
    text-decoration: none; }
  #site a:hover {
    color: #f00;
    cursor: pointer; }
  #site #op:hover {
    color: #000;
    text-decoration: line-through; }
  #site header {
    top: 0;
    position: fixed;
    background-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    z-index: 100; }
    #site header #header_text {
      position: fixed;
      display: inline-block;
      vertical-align: bottom;
      top: 1.6rem;
      left: 8.3%; }
      @media screen and (max-width: 768px) {
        #site header #header_text {
          left: calc(3.5rem + 1.6rem); } }
      @media screen and (max-width: 400px) {
        #site header #header_text {
          top: 1.2rem; }
          #site header #header_text #design_practice {
            display: block; } }
    #site header .header_link {
      display: inline-block;
      text-transform: uppercase; }
      #site header .header_link:hover {
        cursor: pointer;
        color: #f00; }
      @media screen and (max-width: 768px) {
        #site header .header_link#index {
          display: none; } }
    #site header img {
      display: inline-block;
      vertical-align: middle;
      height: 3.5rem;
      width: auto; }
  #site #tags {
    position: fixed;
    top: 1.6rem;
    left: 58.1%;
    width: calc(41% - 1.6rem);
    background-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 20;
    transition: top ease 0.3s;
    -webkit-transition: top ease 0.3s; }
    @media screen and (max-width: 768px) {
      #site #tags {
        display: none; } }
    #site #tags span {
      line-height: auto;
      display: inline;
      margin: 0 auto;
      color: #bbb; }
      #site #tags span:hover, #site #tags span.selected {
        cursor: pointer;
        color: #000;
        background-color: transparent;
        cursor: pointer;
        text-decoration: underline; }
  #site footer {
    width: 100%;
    padding: 1.6rem;
    box-sizing: border-box;
    position: relative; }
    #site footer p {
      margin-bottom: 1em; }
    #site footer .footer_large {
      font-size: 1.6rem;
      width: calc(58.1% - 1.6rem); }
      @media screen and (max-width: 768px) {
        #site footer .footer_large {
          width: 100%; } }
    #site footer .footer_small {
      position: absolute;
      left: calc(58.1%);
      right: 1.6rem;
      bottom: 1.6rem; }
      @media screen and (max-width: 768px) {
        #site footer .footer_small {
          position: relative;
          left: 0;
          bottom: auto; } }
  #site #contact,
  #site #site_credits {
    margin-bottom: 0; }
  @media screen and (max-width: 768px) {
    #site #contact {
      margin-bottom: 1em; } }
  #site #projects {
    padding-top: 6.3rem;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: padding-top ease 0.3s;
    -webkit-transition: padding-top ease 0.3s; }
    #site #projects.scroll {
      padding-top: 5.4rem; }
    #site #projects img:hover {
      cursor: pointer; }
  #site .image_container {
    height: 20rem;
    display: inline-block;
    white-space: nowrap; }
    #site .image_container span {
      display: none; }
    @media screen and (max-width: 768px) {
      #site .image_container span {
        display: block;
        position: relative;
        z-index: 100;
        width: 100%;
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        font-size: 0.667rem;
        box-sizing: border-box;
        white-space: pre-wrap; } }
    #site .image_container img {
      height: 100%;
      width: auto;
      display: inline-block; }
      @media screen and (max-width: 768px) {
        #site .image_container img {
          padding: 0 1.6rem;
          box-sizing: border-box;
          border-right: 0px solid;
          margin-bottom: 1em; } }
    #site .image_container .open_modal {
      display: none; }
      #site .image_container .open_modal.visible {
        display: inline-block; }
  @media screen and (max-width: 768px) {
    #site #original {
      display: block;
      height: auto;
      width: 100%; }
      #site #original img {
        display: block;
        width: 100%; } }
  #site .repeat {
    position: relative;
    z-index: 1;
    margin-top: -0.2rem; }
    @media screen and (max-width: 768px) {
      #site .repeat {
        display: none; } }
  #site #modal_container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2000;
    display: none; }
    #site #modal_container #modal_background {
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.95);
      background-size: contain !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      z-index: 10; }
    #site #modal_container span {
      position: fixed;
      font-size: 2rem;
      color: #000;
      z-index: 20;
      mix-blend-mode: difference; }
      #site #modal_container span.white {
        color: #fff;
        z-index: 15; }
    #site #modal_container .modal_close,
    #site #modal_container .modal_prev,
    #site #modal_container .modal_next {
      text-transform: uppercase; }
      #site #modal_container .modal_close:hover,
      #site #modal_container .modal_prev:hover,
      #site #modal_container .modal_next:hover {
        cursor: pointer; }
    #site #modal_container .modal_prev,
    #site #modal_container .modal_next {
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%); }
    #site #modal_container .modal_prev {
      left: 1.6rem; }
    #site #modal_container .modal_next {
      right: 1.6rem; }
    #site #modal_container .modal_caption {
      max-width: 80%;
      bottom: 1.6rem;
      left: 1.6rem; }
    #site #modal_container .modal_date {
      bottom: 1.6rem;
      right: 1.6rem; }
    #site #modal_container.show {
      display: block; }
      @media screen and (max-width: 768px) {
        #site #modal_container.show {
          display: none; } }
  #site #video_modal_container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
    z-index: 2000;
    display: none;
    cursor: url(../image/close.png), auto; }
    #site #video_modal_container:hover {
      cursor: url(../image/close.png), auto; }

#site #project_headings {
  position: fixed;
  top: 6rem;
  font-size: 0.667rem;
  left: 8.3%;
  width: 100%; }
  #site #project_headings span {
    display: inline-block;
    width: 16.6%; }
    #site #project_headings span.date {
      width: 8.3%; }
  @media screen and (max-width: 768px) {
    #site #project_headings {
      display: none; } }
#site #project_index {
  padding-top: 6.8rem; }
  @media screen and (max-width: 768px) {
    #site #project_index {
      top: 6.3rem; } }
#site .project_line {
  display: none;
  margin-bottom: 1rem; }
  #site .project_line.visible {
    display: block; }
  #site .project_line img {
    margin-left: 1.6rem;
    padding-bottom: 1.75rem; }
  #site .project_line.wide img {
    width: 58%; }
  #site .project_line.narrow img {
    width: 33%; }
  @media screen and (max-width: 768px) {
    #site .project_line img {
      width: 100% !important;
      margin-left: 0 !important;
      padding-left: 1.6rem;
      padding-right: 1.6rem; } }
#site .project_info {
  /*margin-left: 8.3%;*/
  width: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 6.8rem;
  margin-bottom: 1rem; }
  #site .project_info .comma {
    display: none; }
  @media screen and (max-width: 768px) {
    #site .project_info {
      padding: 0 1.6rem;
      position: relative;
      top: 0; }
      #site .project_info span {
        display: inline !important;
        width: auto !important;
        padding-right: 0 !important; }
        #site .project_info span:nth-child(1) {
          margin-left: 0 !important; }
      #site .project_info .comma {
        display: inline; } }
  #site .project_info span {
    vertical-align: top;
    padding-right: 1rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 0.667rem;
    display: inline-block;
    width: 16.6%; }
    #site .project_info span.date {
      width: 8.3%; }
    #site .project_info span:nth-child(1) {
      margin-left: 8.3%; }

/*# sourceMappingURL=main.css.map */
