html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* !!! CSS RESET !!! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#site {
  font-family: sans-serif;
  font-size: 0.8rem; }
  #site.light_box {
    overflow: hidden; }
  #site .gray {
    color: #bbb; }
  #site a:link,
  #site a:visited {
    color: #000;
    text-decoration: none; }
  #site a:hover {
    color: #f00;
    cursor: pointer; }
  #site #op:hover {
    color: #000;
    text-decoration: line-through; }
  #site header {
    top: 0;
    position: fixed;
    background-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 3.3rem;
    width: 100%;
    border-bottom: 5px solid;
    z-index: 100; }
    #site header #header_text {
      display: inline-block;
      vertical-align: middle;
      padding-left: 0.3rem; }
    #site header img {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      width: auto; }
    #site header nav {
      position: absolute;
      right: 0;
      top: 0;
      display: inline-block; }
      @media screen and (max-width: 740px) {
        #site header nav {
          top: 4.3rem;
          max-height: 8rem;
          overflow: hidden;
          transition: max-height ease 0.3s;
          -webkit-transition: max-height ease 0.3s; }
          #site header nav.scroll {
            max-height: 0; } }
      #site header nav ul {
        display: inline-block; }
        #site header nav ul li {
          padding-right: 1.5rem;
          line-height: 3.3rem;
          display: inline-block;
          vertical-align: middle; }
          @media screen and (max-width: 740px) {
            #site header nav ul li {
              display: block;
              line-height: 1em;
              text-align: right;
              padding-bottom: 1rem; } }
  #site #about {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: fixed;
    top: 3.3rem;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    z-index: 10;
    max-height: 10rem;
    transition: max-height ease 0.3s;
    -webkit-transition: max-height ease 0.3s; }
    #site #about.scroll {
      padding: 0;
      max-height: 0; }
  #site #bio {
    width: 30rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 10%;
    max-width: 30rem; }
    @media screen and (max-width: 740px) {
      #site #bio {
        display: none; } }
  #site #contact {
    position: absolute;
    top: 1rem;
    right: 10.3rem; }
    @media screen and (max-width: 1100px) {
      #site #contact {
        display: none; } }
  #site #currently {
    position: fixed;
    top: 7.5rem;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: 5px solid;
    border-bottom: 5px solid;
    height: 3.3rem;
    z-index: 20;
    transition: top ease 0.3s;
    -webkit-transition: top ease 0.3s; }
    @media screen and (max-width: 740px) {
      #site #currently {
        top: 11.5rem; } }
    #site #currently h1 {
      text-align: center;
      line-height: 3rem;
      width: 8rem;
      display: block;
      margin: 0 auto;
      border-left: 5px solid;
      border-right: 5px solid; }
    #site #currently.scroll {
      top: 3rem; }
  #site #projects {
    padding-top: 10.6rem;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: padding-top ease 0.3s;
    -webkit-transition: padding-top ease 0.3s; }
    @media screen and (max-width: 740px) {
      #site #projects {
        padding-top: 14.5rem; } }
    #site #projects.scroll {
      padding-top: 6.2rem; }
    #site #projects img:hover {
      cursor: pointer; }
  #site .image_container {
    height: 20rem;
    display: inline-block;
    white-space: nowrap; }
    #site .image_container img {
      height: 100%;
      width: auto;
      display: inline-block; }
  @media screen and (max-width: 740px) {
    #site #original {
      display: block;
      height: auto;
      width: 100%; }
      #site #original img {
        display: block;
        width: 100%; } }
  #site .repeat {
    position: relative;
    z-index: 1;
    margin-top: -0.2rem; }
    @media screen and (max-width: 740px) {
      #site .repeat {
        display: none; } }
  #site #modal_container {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 2000;
    display: none;
    cursor: url(../image/close.png), auto;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important; }
    #site #modal_container:hover {
      cursor: url(../image/close.png), auto; }

/*# sourceMappingURL=main.css.map */
